@media (min-width: 768px) {
    .main-sidebar .sidebar-menu .sidebar-toggle {
        text-align: center;
        padding-right: 20px;
    }

    .main-sidebar .sidebar-menu .sidebar-toggle .fa-bars {
        transform: rotate(90deg)
    }

    .sidebar-collapse .main-sidebar .sidebar-menu .sidebar-toggle {
        text-align: left;
        padding-right: auto;
    }

    .sidebar-collapse .main-sidebar .sidebar-menu .sidebar-toggle .fa-bars {
        transform: rotate(0)
    }
}

@media (max-width: 767px) {
    .main-sidebar .sidebar-menu .sidebar-toggle {
        display: none;
    }
}

@media (min-width: 768px) {
    .main-header .sidebar-toggle {
        display: none;
    }
}

@media (max-width: 767px) {
    .main-header .sidebar-toggle {
        float: left;
        padding: 15px 15px;
    }

    .main-header .sidebar-toggle:hover {
        color: #fff
    }
}